@model IEnumerable<ISM_MaresRobertDorian_ASPNETPROJWCAS.Models.Review>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Reviews</h1>

@if (User.IsInRole("ADMIN_ROLE") || User.IsInRole("REVIEWER_ROLE"))
{
    <p>
        <a asp-action="Create">Add A Review</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPositive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="font-weight:bold">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPositive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game.Id)
            </td>
            <td>
                @if (User.IsInRole("ADMIN_ROLE") || User.IsInRole("REVIEWER_ROLE"))
                {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> 
                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
